// Configurações de layout e aparência
layout {
    gaps 16
    center-focused-column "never"
    empty-workspace-above-first
    default-column-display "tabbed"
    background-color "#000104"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        on
        width 4
        active-color "#9a9ca2"
        inactive-color "#000104"
        urgent-color "#9b0000"
    }

    border {
        off
        width 4
        active-color "#9a9ca2"
        inactive-color "#000104"
        urgent-color "#9b0000"
    }

    shadow {
        off
        softness 30
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#000104"
    }

    tab-indicator {
        on
        hide-when-single-tab
        place-within-column
        gap 5
        width 4
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 2
        corner-radius 8
        active-color "red"
        inactive-color "gray"
        urgent-color "blue"
    }

    insert-hint {
        on
        color "#ffc87f80"
    }
}
